*{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font
}

h2{
    background-color:purple;
    color: white;
}

h3{
    background-color: bisque;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(155, 6, 155);
    
}

.Summary{
    text-align: justify;
}

.profile_photo{
    width: 10%;
    height: 10%;
    margin-left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: purple;
}

.projects{
    background-color: aqua;
    
}

.engineering{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 6, 112);
}

.image{
    width: 50%;
    height: 50%;
}